body {
   font-family: 'Trebuchet MS';
   font-size: 16px;
   background-color:#f6f6ef;
}

div {
  border-radius: 5px;
  padding: 5px;
}

#wrapper {
   display: grid;
   grid-gap: 5px;
   grid-template-columns: 10% 90%;
   grid-template-areas:
   "header header"
   "sidebar games"
   "sidebar picks"
   "footer  footer";
}

#sidebar {
   grid-area: sidebar;
   /*max-height: 100px;*/
   background-color: white;
}

 #header {
   grid-area: header;
   background-color: white;
   font-size: 32px;
   text-align: center;
 }

 #footer {
   grid-area: footer;
   background-color: white;
 }

.logo_game_completed {
    filter: brightness(50%);
 }

 .logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
 }

 .game {
    height: 50px;
    font-size: 16px;
    width: 45%;
 }

 #games_wrapper {
    grid-area: games;
    /* text-align: center; */
    /* border: 3px solid green; */
 }

 #picks {
   grid-area: picks;
 }

 .game_row {
   display: flex;
 }

 .score {
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
 }

 .game_status {
    color:red;
 }

 .wrong_pick {
   color:darkred;
}

.correct_pick {
   color:darkgreen;
}

.imaginary-pick {
   color:blue;
}

.imaginary-score {
   color:blue;
}

.winning_total {
   background-color:yellow;
}

.even_cell {
   background-color: white;
}

.odd_cell {
   background-color: lightgray;
}

.table_cell {
   text-align: center;
}

.total_score {
   font-weight: bold;
}

.player_title {
   font-weight: bold;
}