body {
   font-family: 'Trebuchet MS';
   font-size: 16px;
 }

.logo_game_completed {
    filter: brightness(50%);
 }

 .logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
 }

 .game {
    height: 100px;
    font-size: 24px;
    width: 50%;
 }

 .games_wrapper {
    text-align: center;
    /* border: 3px solid green; */
 }

 .game_row {
   display: flex;
 }

 .score {
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
 }

 .game_status {
    color:red;
 }

 .wrong_pick {
   color:darkred;
}

.correct_pick {
   color:darkgreen;
}

.imaginary-pick {
   color:blue;
}

.imaginary-score {
   color:blue;
}

.winning_total {
   background-color:yellow;
}

.even_cell {
   background-color: white;
}

.odd_cell {
   background-color: lightgray;
}

.table_cell {
   text-align: center;
}

.total_score {
   font-weight: bold;
}

.player_title {
   font-weight: bold;
}